centraldb/
**/localdb/
**/test/
*.xml
*.swp
*.root
*.pdf
*.csv
*~
*.log
__pycache__/
\#*\#
*.pyc
core
*.fail
*.pass
*.kuhrios
*.png
*.h5
**/.mypy_cache
eventdata
*.egg-info/

# Build and docs file
docs/_build/
